*{
    overflow-x: hidden;
}

#root {
    overflow-y: hidden;
    position: fixed;
    width:99%;
    height:98%;
}

#navbar {
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 4.5%;
    margin:auto;
    padding-left: 10px;
}

#title-div {
    position: absolute;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

#left-sidebar {
    position:absolute;
    height:94%;
    width:13%;
    top:5.8%;
    overflow-y: hidden;
}

#workspace {
    position:absolute;
    height:94%;
    width:87%;
    top:5.8%;
    left:13%;
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#left-sidebar-header {
    padding-top:10%;
    height:4%;
    top:3%;
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 5%;
    border-bottom: dotted;
    
}

#todo-lists-list {
    position:absolute;
    text-align: center;
    height:92%;
    width:100%;
    top: 8%;
    overflow-y: auto;
}

.todo-list-button {
    height: 60px;
    width: 100%;
    color: white
}

.todo-list-button1 {
    height: 60px;
    width: 100%;
    color: white
}

.alignText {
    align-items: center;
    margin-top: 9%;
}

.todo-button {
    white-space: nowrap;
}

.upArrow {
    padding: 10px;
    border-radius: 10%;
    margin-top: 12px;
}

.upArrow1 {
    padding: 10px;
    border-radius: 10%;
    margin-top: 12px;
    display: none;
}

.downArrow {
    margin-left: 7%;
    padding: 10px;
    border-radius: 10%;
    margin-top: 12px;
}

.downArrow1 {
    margin-left: 7%;
    padding: 10px;
    border-radius: 10%;
    margin-top: 12px;
    visibility: hidden;
}

.deleteItem {
    margin-left: 7%;
    padding: 10px;
    border-radius: 10%;
    margin-top: 12px;
}

#left-sidebar-controls {
    text-align: right;
}

#todo-list-header-card {
    border-bottom: dotted;
    font-size: 14pt;
    font-weight: bold;
    padding-top:1%;
    margin-left: 1.5%;
    height:5%;
    width: 97%;
}

#todo-list-items-div {
    height:96%;
    width: 97%;
    margin-left: 1.5%;
    top:7%;
    overflow-y: auto;
}

.list-item-card {
    height: 65px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.list-item-card1 {
    height: 65px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.item-col {
    width:100%;
}

.list-controls-col {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}

.list-item-control {
    width: 20%;
}

#add-item-button {
    margin-left: 33%;
    height: 65%;
    width: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10%;
}

#delete-list-button {
    height: 65%;
    width: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10%;
}

#close-list-button {
    height: 65%;
    width: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10%;
}

.task-col {
    width: 100%;
    margin-top: 20px;
}

.task-col1 {
    width: 100%;
    background-color:#40454e;
    color: white;
    font-family: 'Consolas';
}

.due-date-col {
    width: 100%;
    margin-top: 20px;
}

.due-date-col1 {
    width: 100%;
    background-color:#40454e;
    color: white;
    font-family: 'Consolas';
}

.status-col {
    width: 100%;
    margin-top: 20px;
}

.status-col1 {
    width: 100%;
    background-color:#40454e;
    color: white;
    font-family: 'Consolas';
}

#undo-button {
    background-color: #353a44;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10%;
}

#undo-button:hover {
    background-color: #c3c4c7;
}

#redo-button {
    background-color: #353a44;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10%;
}

#redo-button:hover {
    background-color: #c3c4c7;
}

.list-item-control-removed {
    width: 20%;
    text-align: center;
}




.modal-display {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.modal-hidden {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.modal-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #40454e;
    color: white;
    padding: 1rem 1.5rem;
    width: 28rem;
    height: 9rem;
    border-radius: 0.17rem;
}
.modal-title {
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 17px;
    margin-top: 6%;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-top: 4%;
    margin-right: 1%;
    padding: 1%;
    color: white;
}
.close-button:hover {
    background-color: darkgray;
}
.separator {
    margin-top: 3%;
    border-bottom: dotted;
}
.cancel-button {
    float: right;
    cursor: pointer;
    font-family: 'Consolas';
    font-size: 16px;
    margin-top: 7%;
    margin-right: 3%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}
.cancel-button:hover {
    background-color: darkgray;
}
.confirm-button {
    float: left;
    cursor: pointer;
    font-family: 'Consolas';
    font-size: 16px;
    margin-top: 7%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}
.confirm-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: all .2s ease-in-out;
}




