*{
    overflow-x: hidden;
}

#root {
    overflow-y: hidden;
    position: fixed;
    width:99%;
    height:98%;
}

#navbar {
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 4.5%;
    margin:auto;
    padding-left: 10px;
}

#title-div {
    position: absolute;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

#left-sidebar {
    position:absolute;
    height:94%;
    width:13%;
    top:5.8%;
    overflow-y: hidden;
}

#workspace {
    position:absolute;
    height:94%;
    width:87%;
    top:5.8%;
    left:13%;
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#left-sidebar-header {
    padding-top:10%;
    height:4%;
    top:3%;
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 5%;
    border-bottom: dotted;
    
}

#todo-lists-list {
    position:absolute;
    text-align: center;
    height:92%;
    width:100%;
    top: 8%;
    overflow-y: auto;
}

.todo-list-button {
    height: 60px;
    width: 100%;
}

.alignText {
    align-items: center;
    margin-top: 9%;
}

.todo-button {
    white-space: nowrap;
}

#left-sidebar-controls {
    text-align: right;
}

#todo-list-header-card {
    border-bottom: dotted;
    font-size: 14pt;
    font-weight: bold;
    padding-top:1%;
    margin-left: 1.5%;
    height:5%;
    width: 97%;
}

#todo-list-items-div {
    height:96%;
    top:7%;
    display: flex;
    flex-direction: column;
}

.list-item-card {
    padding-top:20px;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.item-col {
    width:100%;
}

.list-controls-col {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}

.list-item-control {
    width: 20%;
}

#add-item-button {
    margin-left: 33%;
    height: 65%;
    width: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10%;
}

#delete-list-button {
    height: 65%;
    width: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10%;
}

#close-list-button {
    height: 65%;
    width: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10%;
}



